@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    display: flex;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    font-family: 'Nunito', sans-serif;
}
/* Onde coloca o nome */
.name-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-container p {
    color: white;
    font-size: calc(1.2rem + 1vw);
    margin-bottom: 40px;
}
.name-container input {
    min-width: 160px;
    width: 12vw;
    height: 5vh;
    padding: 0 1%;
}
.name-container button {
    margin-top: 40px;
    min-width: 160px;
    width: 14vw;
    height: 5vh;
    border: none;
    background-color: rgb(43, 43, 129);
    color: white;
}
.name-container button:hover {
    background-color: rgba(43, 43, 129, 0.726);
}
header {
    display: flex;
    justify-content: space-between;
    width: 96vw;
    position: absolute;
    padding: 0 2%;
    margin-top: 1%;
}

.chat-name {
    background-color: white;
    min-width: 100px;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    font-size: calc(.7rem + .4vw);
}
.typing {
    width: 50%;
    height: 5vh;
    vertical-align: center;
    text-align: center;
    color: rgb(43, 43, 129);
}
/* Contagem dos clientes */
.clients-count {
    background-color: white;
    min-width: 60px;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    font-size: calc(.7rem + .4vw);
}
.on-ball {
    background-color: rgb(43, 43, 129);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 2%;
}
/* Onde ficam as mensagens */
.messages-output {
    width: 95vw;
    margin: 0 auto;
    margin-top: 80px;
    height: 78%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
form {
    align-self: flex-end;
    width: 96%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
    margin-bottom: 2%;
    position: absolute;
}
form input[type="text"] {
    height: 100%;
    border-radius: 20px;
    width: 80%;
    padding: 0 2%;
    font-size: calc(1rem + .3vw);
    border: none;
}
form button {
    width: 10%;
    min-width: 60px;
    height: 100%; 
    border: none;
    background-color: rgb(43, 43, 129);
    color: white;
    border-radius: 20px;
    font-size: calc(1rem + .1vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
form button img {
    height: 40%;
}

/* Script styles */
.my-message {
    background-color: rgb(43, 43, 129);
    padding: 1% 2%;
    color: white;
    max-width: 60%;
    align-self: flex-end;
    border-radius: 10px 0 10px 10px;
    margin-bottom: .5%;
    font-size: calc(1rem + .3vw);
}
.other-message {
    background-color: white;
    padding: 1% 2%;
    color: black;
    max-width: 60%;
    align-self: flex-start;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: .5%;
    font-size: calc(1rem + .3vw);
}

@media (max-width: 500px) {
    .my-message, .other-message {
        padding: 10px;
    }
}